#mainContainer{
	width: 86vw;
	margin-left: 7vw;
	margin-top: 50px;
}

h1 {
	font-family: helvetica;
	font-size: 32px;
}

h2 {
	width: 500px;
	color: white;
	margin-bottom: 75px;
	font-family: helvetica;
	font-weight: 300;
	font-size: 24px;
}

h3 {
	font-family: helvetica;
	font-size: 24px;


}

.button {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	font-family: helvetica;
	font-size: 18px;
	font-weight: 200;
}

@media (max-width: 600px) {
	h2 {
		width: 86vw;
	}
}

@media (min-width: 600px) {
	body {
		overflow-y: hidden;
	}
}


body {
	height: 100vh;
	overflow-x: hidden;
	background-image: linear-gradient(to bottom, #f4d2b5, #72729b);
	color:white;
}

.button:hover{

	border-bottom: 3px solid; 
}

a{
	text-decoration: none;
	color: white;
}